.home-main-container {
}

.home-main-img {
  display: flex;
  justify-content: center;
}

.home-img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  z-index: -100;
  position: relative;
}

#home {
  font-size: 50px;
}

.home-img-text {
  color: #494949;
}

.home-boxes {
  display: flex;
  justify-content: space-around;
  padding: 100px 50px 50px 50px;
  background-color: #f4f4f4;
}

.home-box-image {
  width: 700px;
}

.home-upper-box {
  width: 1000px;
  font-size: 20px;
}

.home-main-steps {
  width: 100%;
  height: 150px;
  background-color: #ceb19c;
  display: flex;
  justify-content: space-around;
  padding-top: 40px;
}
.home-main-steps img {
  width: 50px;
}

#home-bookkeeping {
  font-size: 50px;
}
.home-all-plans {
  display: flex;
  justify-content: space-around;
  margin: 100px 0px 100px 0px;
}

.home-box {
  border: 1px solid black;
  padding: 10px;
  width: 300px;
  box-shadow: 5px 5px 5px gray;
}
.home-box h1 {
  color: #ceb19c;
}

.home-box-cleanup {
  border: 1px solid black;
  padding: 10px;
  width: 300px;
  box-shadow: 5px 5px 5px gray;
  height: 270px;
}
.home-book {
  background-color: #6d6d4a;
  color: rgb(255, 255, 255);
  margin: 0px 20px 0px 20px;
  padding: 10px;
  font-weight: 800;
  border-radius: 20px;
}
.home-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  background-color: #ceb19c;
}

/* Ipad Pro*/
@media only screen and (max-width: 1025px) {
  .home-img {
    width: 100%;
    height: 400px;
  }

  .home-img-text {
    font-size: 15px;
    width: 100%;
  }

  .home-boxes {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0px 0px 50px 0px;
    width: 100%;
  }

  .home-box-image {
    width: 700px;
    margin: 20px 0px 0px 0px;
  }

  .home-main-steps {
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 20px;
    margin: 0px 0px 0px 0px;
    font-size: 15px;
  }

  .home-main-steps h2 {
    font-size: 20px;
  }
  .home-main-steps img {
    width: 30px;
  }

  #home-bookkeeping {
    font-size: 30px;
  }
  .home-all-plans {
    display: flex;
    margin: 50px 0px 50px 0px;
  }

  .home-box {
    padding: 10px;
    width: 700px;
    margin: 20px 0px 20px 0px;
  }

  .home-box-cleanup {
    padding: 10px;
    width: 700px;
    height: 250px;
    font-size: 15px;
    margin: 20px 0px 20px 0px;
  }

  .home-book {
    margin: 0px 30px 0px 30px;
    padding: 10px;
    font-weight: 600;
    border-radius: 20px;
    font-size: 10px;
  }

  .home-footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    background-color: #ceb19c;
  }

  .home-footer h2 {
    font-size: 15px;
  }
}


/* Ipad*/
@media only screen and (max-width: 770px) {
  .home-img {
    width: 100%;
    height: 400px;
  }

  .home-img-text {
    font-size: 15px;
    width: 100%;
  }

  .home-boxes {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0px 0px 50px 0px;
    width: 100%;
  }

  .home-box-image {
    width: 700px;
    margin: 20px 0px 0px 0px;
  }

  .home-main-steps {
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 20px;
    margin: 0px 0px 0px 0px;
    font-size: 15px;
  }

  .home-main-steps h2 {
    font-size: 20px;
  }
  .home-main-steps img {
    width: 40px;
  }

  #home-bookkeeping {
    font-size: 30px;
  }
  .home-all-plans {
    display: flex;
    margin: 50px 0px 50px 0px;
  }

  .home-box {
    padding: 10px;
    width: 700px;
    margin: 20px 0px 20px 0px;
  }

  .home-box-cleanup {
    padding: 10px;
    width: 700px;
    height: 300px;
    font-size: 15px;
    margin: 20px 0px 20px 0px;
  }

  .home-book {
    margin: 0px 30px 0px 30px;
    padding: 10px;
    font-weight: 600;
    border-radius: 20px;
    font-size: 10px;
  }

  .home-footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    background-color: #ceb19c;
  }

  .home-footer h2 {
    font-size: 15px;
  }
}

/* Surface Duo*/
@media only screen and (max-width: 542px) {
  .home-img {
    width: 100%;
    height: 250px;
  }

  .home-img-text {
    font-size: 10px;
    width: 540px !important;
  }

  .home-boxes {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0px 0px 0px 0px;
    width: 540px !important;
  }

  .home-box-image {
    width: 300px;
    margin: 20px 0px 0px 0px;
  }

  .home-main-steps {
    width: 100%;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 20px;
    margin: 0px 0px 0px 0px;
    font-size: 15px;
  }

  .home-main-steps h2 {
    font-size: 15px;
  }
  .home-main-steps img {
    width: 30px;
  }

  #home-bookkeeping {
    font-size: 30px;
  }
  .home-all-plans {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px 0px 50px 0px;
  }

  .home-box {
    padding: 10px;
    width: 300px;
    margin: 20px 0px 20px 0px;
  }

  .home-box-cleanup {
    padding: 10px;
    width: 300px;
    height: 260px;
    font-size: 15px;
  }

  .home-book {
    margin: 0px 50px 0px 50px;
    padding: 10px;
    font-weight: 600;
    border-radius: 20px;
  }

  .home-footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    background-color: #ceb19c;
  }

  .home-footer h2 {
    font-size: 15px;
  }
}


/* Iphone 6/7/8 PLUS*/
@media only screen and (max-width: 416px) {
  .home-img {
    width: 414px;
    height: 250px;
  }

  .home-img-text {
    font-size: 10px;
    width: 380px !important;
  }

  .home-boxes {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0px 0px 50px 0px;
    width: 416px !important;
  }

  .home-box-image {
    width: 300px;
    margin: 20px 0px 0px 0px;
  }

  .home-main-steps {
    width: 416px;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 20px;
    margin: 0px 0px 0px 0px;
    font-size: 15px;
  }

  .home-main-steps h2 {
    font-size: 15px;
  }
  .home-main-steps img {
    width: 30px;
  }

  #home-bookkeeping {
    font-size: 30px;
  }
  .home-all-plans {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px 0px 50px 0px;
  }

  .home-box {
    padding: 10px;
    width: 300px;
    margin: 20px 0px 20px 0px;
  }

  .home-box-cleanup {
    padding: 10px;
    width: 300px;
    height: 260px;
    font-size: 15px;
  }

  .home-book {
    margin: 0px 50px 0px 50px;
    padding: 10px;
    font-weight: 600;
    border-radius: 20px;
  }

  .home-footer {
    width: 416px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    background-color: #ceb19c;
  }

  .home-footer h2 {
    font-size: 15px;
  }
}

/* Iphone X */
@media only screen and (max-width: 377px) {
  .home-img {
    width: 375px;
    height: 250px;
  }

  .home-img-text {
    font-size: 10px;
    width: 375px !important;
  }

  .home-boxes {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0px 0px 50px 0px;
    width: 375px !important;
  }

  .home-box-image {
    width: 300px;
    margin: 20px 0px 0px 0px;
  }

  .home-main-steps {
    width: 375px;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 20px;
    margin: 0px 0px 0px 0px;
    font-size: 15px;
  }

  .home-main-steps h2 {
    font-size: 15px;
  }
  .home-main-steps img {
    width: 30px;
  }

  #home-bookkeeping {
    font-size: 30px;
  }
  .home-all-plans {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px 0px 50px 0px;
  }

  .home-box {
    padding: 10px;
    width: 300px;
    margin: 20px 0px 20px 0px;
  }

  .home-box-cleanup {
    padding: 10px;
    width: 300px;
    height: 260px;
    font-size: 15px;
  }

  .home-book {
    margin: 0px 50px 0px 50px;
    padding: 10px;
    font-weight: 600;
    border-radius: 20px;
  }

  .home-footer {
    width: 375px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    background-color: #ceb19c;
  }

  .home-footer h2 {
    font-size: 15px;
  }
}

/* Moto G4 and Samsung S5 */
@media only screen and (max-width: 361px) {
  .home-img {
    width: 100%;
    height: 250px;
  }

  .home-img-text {
    font-size: 10px;
    width: 360px !important;
  }

  .home-boxes {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0px 0px 50px 0px;
    width: 100%;
  }

  .home-box-image {
    width: 300px;
    margin: 20px 0px 0px 0px;
  }

  .home-main-steps {
    width: 100%;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 20px;
    margin: 0px 0px 0px 0px;
    font-size: 15px;
  }

  .home-main-steps h2 {
    font-size: 15px;
  }
  .home-main-steps img {
    width: 30px;
  }

  #home-bookkeeping {
    font-size: 30px;
  }
  .home-all-plans {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px 0px 50px 0px;
  }

  .home-box {
    padding: 10px;
    width: 300px;
    margin: 20px 0px 20px 0px;
  }

  .home-box-cleanup {
    padding: 10px;
    width: 300px;
    height: 260px;
    font-size: 15px;
  }

  .home-book {
    margin: 0px 50px 0px 50px;
    padding: 10px;
    font-weight: 600;
    border-radius: 20px;
  }

  .home-footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    background-color: #ceb19c;
  }

  .home-footer h2 {
    font-size: 15px;
  }
}


