.services-main-container {
  margin-bottom: 100px;
}

.services-main-img {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.services-img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  z-index: -100;
  position: relative;
}

#bookkeeping {
  font-size: 50px;
}
.services-all-plans {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
}

.services-box {
  border: 1px solid black;
  padding: 10px;
  width: 300px;
  box-shadow: 5px 5px 5px gray;
}
.services-box h1 {
  color: #ceb19c;
}

.services-box-cleanup {
  border: 1px solid black;
  padding: 10px;
  width: 300px;
  box-shadow: 5px 5px 5px gray;
  height: 300px;
}
.services-book {
  background-color: #6d6d4a;
  color: rgb(255, 255, 255);
  margin: 0px 20px 0px 20px;
  padding: 10px;
  font-weight: 800;
  border-radius: 20px;
}

/* Ipad Pro*/
@media only screen and (max-width: 1025px) {
  .services-img {
    width: 100%;
    height: 400px;
  }

  .services-box-cleanup {
    border: 1px solid black;
    padding: 10px;
    width: 300px;
    box-shadow: 5px 5px 5px gray;
    height: 270px;
  }

}

/* Ipad*/
@media only screen and (max-width: 770px) {
  .services-img {
    width: 100%;
    height: 400px;
  }

  .services-box-cleanup {
    border: 1px solid black;
    padding: 10px;
    width: 300px;
    box-shadow: 5px 5px 5px gray;
    height: 320px;
  }
  #bookkeeping {
    font-size: 40px;
  }
  .services-book {
    margin: 0px 20px 0px 20px;
    padding: 5px;
    font-weight: 500;
    border-radius: 20px;
  }
}

/* Moto G4 and Samsung S5*/
@media only screen and (max-width: 542px) {
  .services-img {
    width: 100%;
    height: 250px;
  }

  #bookkeeping {
    font-size: 30px;
  }
  .services-all-plans {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px 0px 50px 0px;
  }

  .services-box {
    padding: 10px;
    width: 300px;
    margin: 20px 0px 20px 0px;
  }
  .services-box h1 {
    color: #ceb19c;
  }

  .services-box-cleanup {
    border: 1px solid black;
    padding: 10px;
    width: 300px;
    box-shadow: 5px 5px 5px gray;
    height: 300px;
  }
  .services-book {
    background-color: #6d6d4a;
    color: rgb(255, 255, 255);
    margin: 0px 20px 0px 20px;
    padding: 10px;
    font-weight: 800;
    border-radius: 20px;
  }
}

/* Iphone 6/7/8 PLUS*/
@media only screen and (max-width: 416px) {
  .services-img {
    width: 414px;
    height: 250px;
  }

  #bookkeeping {
    font-size: 30px;
  }
  .services-all-plans {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px 0px 50px 0px;
  }

  .services-box {
    padding: 10px;
    width: 300px;
    margin: 20px 0px 20px 0px;
  }
  .services-box h1 {
    color: #ceb19c;
  }

  .services-box-cleanup {
    border: 1px solid black;
    padding: 10px;
    width: 300px;
    box-shadow: 5px 5px 5px gray;
    height: 300px;
  }
  .services-book {
    background-color: #6d6d4a;
    color: rgb(255, 255, 255);
    margin: 0px 20px 0px 20px;
    padding: 10px;
    font-weight: 800;
    border-radius: 20px;
  }
}

/* Iphone X */
@media only screen and (max-width: 377px) {
  .services-img {
    width: 375px;
    height: 250px;
  }

  #bookkeeping {
    font-size: 30px;
  }
  .services-all-plans {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px 0px 50px 0px;
  }

  .services-box {
    padding: 10px;
    width: 300px;
    margin: 20px 0px 20px 0px;
  }
  .services-box h1 {
    color: #ceb19c;
  }

  .services-box-cleanup {
    border: 1px solid black;
    padding: 10px;
    width: 300px;
    box-shadow: 5px 5px 5px gray;
    height: 300px;
  }
  .services-book {
    background-color: #6d6d4a;
    color: rgb(255, 255, 255);
    margin: 0px 20px 0px 20px;
    padding: 10px;
    font-weight: 800;
    border-radius: 20px;
  }
}

/* Moto G4 and Samsung S5 */
@media only screen and (max-width: 361px) {
  .services-img {
    width: 100%;
    height: 250px;
  }

  .services-box {
    padding: 10px;
    width: 280px;
    margin: 20px 0px 20px 0px;
  }
  .services-box h1 {
    color: #ceb19c;
  }

  .services-box-cleanup {
    border: 1px solid black;
    padding: 10px;
    width: 280px;
    box-shadow: 5px 5px 5px gray;
    height: 260px;
  }
  .services-book {
    background-color: #6d6d4a;
    color: rgb(255, 255, 255);
    margin: 0px 20px 0px 20px;
    padding: 10px;
    font-weight: 800;
    border-radius: 20px;
  }
}
