.footer-main-container {
  background-color: #e6e2db;
  height: 500px;
  display: flex;
  justify-content: space-around;
}

.footer-box {
  margin-top: 100px;
}

.footer-map {
  width: 700px;
  height: 350px;
  border: 0px;
  margin-top: -20px;
}

/* Ipad*/
@media only screen and (max-width: 770px) {
  .footer-main-container {
    background-color: #e6e2db;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .footer-box {
    margin-top: 100px;
  }

  .footer-map {
    width: 516px;
    height: 350px;
    border: 0px;
    margin-top: -20px;
  }
}

/* Surface Duo */
@media only screen and (max-width: 542px) {
  .footer-main-container {
    background-color: #e6e2db;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .footer-box {
    margin-top: 100px;
  }

  .footer-map {
    width: 100%;
    height: 250px;
    border: 0px;
    margin-top: -20px;
  }
}

/* Iphone 6/7/8 PLUS*/
@media only screen and (max-width: 416px) {
  .footer-main-container {
    background-color: #e6e2db;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .footer-box {
    margin-top: 100px;
  }

  .footer-map {
    width: 416px;
    height: 250px;
    border: 0px;
    margin-top: -20px;
  }
}

/* iphone X */
@media only screen and (max-width: 377px) {
  .footer-main-container {
    background-color: #e6e2db;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .footer-box {
    margin-top: 100px;
  }

  .footer-map {
    width: 375px;
    height: 250px;
    border: 0px;
    margin-top: -20px;
  }
}

/* Moto G4 and Samsung S5 */
@media only screen and (max-width: 361px) {
  .footer-main-container {
    background-color: #e6e2db;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .footer-box {
    margin-top: 100px;
  }

  .footer-map {
    width: 100%;
    height: 250px;
    border: 0px;
    margin-top: -20px;
  }
}



