.main-languges{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 40px 50px 0px 0px;
}


.languages{
  width: 6.5%;
  cursor: pointer;
}

.header-container {
  display: flex;
  justify-content: center;
  margin: 10px 0px 50px 0px;
}

#logoName{
  text-decoration: none;
  color: #ceb19c;
  font-weight: 600;
  font-size: 20px;
  padding: 0px 150px 0px 20px;
}

.header-text {
  margin: 0px 20px 0px 20px;
  color: #9e7c64;
  font-size: 20px ;
  padding: 10px;
  font-weight: 600;
}

.header-text:hover {
  color: black;
  background-color: #ceb19c;
  border-radius: 20px;
  cursor: pointer;
}

.header-book-call {
  background-color: #6d6d4a;
  color: rgb(255, 255, 255);
  margin: 0px 20px 0px 20px;
  padding: 10px;
  font-weight: 600;
  border-radius: 20px;
}

.image-size {
  width: 170px;
}

#none {
  text-decoration: none;
  color: black;
}

.header-cell-container {
  display: none;
}

/* Cell Phone */

/* Ipad Pro*/
@media only screen and (max-width: 1025px) {
  .header-container {
    display: flex;
    justify-content: center;
    margin: 50px 0px 50px 60px;
  }
  .header-text {
    margin: 0px 20px 0px 20px;
    color: #ceb19c;
    padding: 10px;
    font-weight: 400;
  }
}

/* Ipad*/
@media only screen and (max-width: 770px) {
  .header-container {
    display: flex;
    justify-content: center;
    margin: 50px 0px 50px 0px;
  }
  .header-text {
    margin: 0px 0px 0px 0px;
    color: #ceb19c;
    padding: 10px;
    font-weight: 0px;
    font-size: 15px;
  }
}

/* Surface Duo */
@media only screen and (max-width: 542px) {
  .header-container {
    display: none;
  }

  .header-cell-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
  }

  #nav-img {
    width: 50px;
  }
  .logo-cell {
    padding: 0px 20px 0px 20px;
  }

  .header-cell-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    transition: 1s;
  }

  #nav-close-img {
    width: 50px;
    background-color: #ceb19c;
    border-radius: 35px;
    cursor: pointer;
  }
}

/* Iphone 6/7/8  PLUS*/
@media only screen and (max-width: 416px) {
  .header-container {
    display: none;
  }

  .header-cell-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
  }

  #nav-img {
    width: 50px;
  }
  .logo-cell {
    padding: 0px 20px 0px 20px;
  }

  .header-cell-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    transition: 1s;
  }

  #nav-close-img {
    width: 50px;
    background-color: #ceb19c;
    border-radius: 35px;
    cursor: pointer;
  }
}

/* Iphone X */
@media only screen and (max-width: 377px) {
  .header-container {
    display: none;
  }

  .header-cell-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
  }

  #nav-img {
    width: 50px;
  }
  .logo-cell {
    padding: 0px 20px 0px 20px;
  }

  .header-cell-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    transition: 1s;
  }

  #nav-close-img {
    width: 50px;
    background-color: #ceb19c;
    border-radius: 35px;
    cursor: pointer;
  }
}
