.about-me-main-img {
  display: flex;
  justify-content: center;
}

.about-me-img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  z-index: -100;
  position: relative;
}

.about-me {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.about-me-ainura {
  width: 300px;
  margin-left: 70px;
}

.about-me-text {
  display: flex;
  width: 1000px;
  line-height: 32px;
}

.about-me-text p {
  margin: 0px 20px 0px 20px;
}

.about-me-main-steps {
  margin-top: 100px;
  width: 100%;
  height: 150px;
  background-color: #ceb19c;
  display: flex;
  justify-content: space-around;
  padding-top: 40px;
}

.steps{
background-color: #ceb19c;
width: 100% !important;
}
.steps img {
  width: 50px;
}

#none-black {
  color: black;
}
.about-me-main-certifications {
  display: flex;
  justify-content: center;
}

.about-me-certifications {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.about-me-certifications-text {
  width: 600px;
}

.about-me-certifications-main-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#certification1 {
  width: 300px;
  height: 300px;
}

#certification2 {
  margin-top: 20px;
  width: 220px;
  height: 260px;
}

@media only screen and (max-width: 1344px) {
  .about-me-text {
    width: 700px;
  }
}

@media only screen and (max-width: 1145px) {
  .about-me-text {
    width: 600px;
  }
}


/* Ipad Pro */
@media only screen and (max-width: 1025px) {
  .about-me-img {
    width: 100%;
    height: 400px;
  }

  .about-me {
    flex-direction: column;
    margin-top: 50px;
  }

  .about-me-ainura {
    width: 300px;
    margin: 30px 0px 50px 0px;
  }

  .about-me-text {
    display: flex;
    flex-direction: column;
    width: 100%;
    line-height: 20px;
  }

  .about-me-main-steps {
    width: 100%;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 20px;
    margin: 0px 0px 0px 0px;
  }
  .steps img {
    width: 40px;
  }

  .about-me-main-steps h2 {
    font-size: 20px;
  }

  #none-black {
    color: black;
  }

  .about-me-main-certifications {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .about-me-certifications {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  .about-me-certifications-text {
    width: 776px;
  }

  .about-me-certifications-main-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #certification1 {
    width: 200px;
    height: 200px;
  }

  #certification2 {
    width: 150px;
    height: 200px;
  }
}

/* Ipad */
@media only screen and (max-width: 770px) {
  .about-me-img {
    width: 776px;
    height: 400px;
  }

  .about-me {
    flex-direction: column;
    margin-top: 50px;
  }

  .about-me-ainura {
    width: 300px;
    margin: 30px 0px 50px 0px;
  }

  .about-me-text {
    display: flex;
    flex-direction: column;
    width: 776px;
    line-height: 20px;
  }

  .about-me-main-steps {
    width: 776px;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 20px;
    margin: 0px 0px 0px 0px;
    font-size: 15px;
  }
  .steps{
    font-size: 10px;
  }
  .steps img {
    width: 30px;
  }

  .about-me-main-steps h2 {
    font-size: 15px;
  }

  #none-black {
    color: black;
  }

  .about-me-main-certifications {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .about-me-certifications {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  .about-me-certifications-text {
    width: 776px;
  }

  .about-me-certifications-main-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #certification1 {
    width: 200px;
    height: 200px;
  }

  #certification2 {
    width: 150px;
    height: 200px;
  }
}

/* Surface Duo */
@media only screen and (max-width: 542px) {
  .about-me-img {
    width: 100%;
    height: 250px;
  }

  .about-me {
    flex-direction: column;
    margin-top: 50px;
  }

  .about-me-ainura {
    width: 250px;
    margin: 30px 0px 50px 0px;
  }

  .about-me-text {
    display: flex;
    flex-direction: column;
    width: 100%;
    line-height: 20px;
  }

  .about-me-main-steps {
    width: 100%;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 20px;
    margin: 0px 0px 0px 0px;
    font-size: 15px;
  }
  .steps img {
    width: 30px;
  }

   .steps{
    font-size: 8px;
  }

  .about-me-main-steps h2 {
    font-size: 15px;
  }

  #none-black {
    color: black;
  }

  .about-me-main-certifications {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .about-me-certifications {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  .about-me-certifications-text {
    width: 100%;
  }

  .about-me-certifications-main-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #certification1 {
    width: 200px;
    height: 200px;
  }

  #certification2 {
    width: 150px;
    height: 200px;
  }
}

/* Iphone 6/7/8 PLUS */
@media only screen and (max-width: 416px) {
  .about-me-img {
    width: 414px;
    height: 250px;
  }

  .about-me {
    flex-direction: column;
    margin-top: 50px;
  }

  .about-me-ainura {
    width: 250px;
    margin: 30px 0px 50px 0px;
  }

  .about-me-text {
    display: flex;
    flex-direction: column;
    width: 380px;
    line-height: 20px;
  }

  .about-me-main-steps {
    width: 416px;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 20px;
    margin: 0px 0px 0px 0px;
    font-size: 15px;
  }
  .steps img {
    width: 30px;
  }

  .about-me-main-steps h2 {
    font-size: 15px;
  }

  #none-black {
    color: black;
  }

  .about-me-main-certifications {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .about-me-certifications {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  .about-me-certifications-text {
    width: 350px;
  }

  .about-me-certifications-main-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #certification1 {
    width: 200px;
    height: 200px;
  }

  #certification2 {
    width: 150px;
    height: 200px;
  }
}

/* Iphone X */
@media only screen and (max-width: 377px) {
  .about-me-img {
    width: 375px;
    height: 250px;
  }

  .about-me {
    flex-direction: column;
    margin-top: 50px;
  }

  .about-me-ainura {
    width: 250px;
    margin: 30px 0px 50px 0px;
  }

  .about-me-text {
    display: flex;
    flex-direction: column;
    width: 375px;
    line-height: 20px;
  }

  .about-me-main-steps {
    width: 375px;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 20px;
    margin: 0px 0px 0px 0px;
    font-size: 15px;
  }
  .steps img {
    width: 30px;
  }

  .about-me-main-steps h2 {
    font-size: 15px;
  }

  #none-black {
    color: black;
  }

  .about-me-main-certifications {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .about-me-certifications {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  .about-me-certifications-text {
    width: 350px;
  }

  .about-me-certifications-main-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #certification1 {
    width: 200px;
    height: 200px;
  }

  #certification2 {
    width: 150px;
    height: 200px;
  }
}

/* Moto G4 and Samsung S5 */
@media only screen and (max-width: 361px) {
  .about-me-img {
    width: 100%;
    height: 250px;
  }

  .about-me-text {
    width: 100%;
  }

  .about-me-main-steps {
    width: 100%;
  }

  .about-me-certifications-main-text h1 {
    font-size: 25px;
  }

  .about-me-certifications-text {
    width: 340px;
  }

  .about-me-certifications-main-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #certification1 {
    width: 180px;
    height: 200px;
  }

  #certification2 {
    width: 150px;
    height: 200px;
  }
}
